
    body {
      font-family: 'Montserrat', sans-serif;
      background-image: url('elements/background.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto;
    }

    .menu-contable:hover {
      color: black;
      text-decoration: underline;
    }

    .card {
      border: none;
      width: 300px;
      height: 450px;
    }

    .table {
      border: none;
      text-align: center;
      align-content: center;
      align-items: center;      
      margin-left: auto;
      margin-right: auto;
    }
